@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* { box-sizing: border-box; }

:root {
  --primary-color: #000;
  --secondary-color: #FFF;
}

html { font: 62.5% 'Inter', sans-serif; }

body {
  padding: 0;
  margin: 0;
}

button { border: 0; }